<div class="page-content">
            <div class="content-block-tabs">
              <!-- Buttons row as tabs controller -->
              <div class="buttons-row">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active button">Galería de fotos</a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link button">Galería de videos</a>
              </div>
            </div>
            <!-- Tabs, tabs wrapper -->
            <div class="tabs">
              <!-- Tab 1, active by default -->
              <div id="tab1" class="tab active">
                <div class="content-block">
                    <div class="row" style="text-align: left; ">
                        Aquí podrás poner todas las fotografías que tu negocio requiera, por ejemplo, si eres una pastelería podrías poner unas cuantas como las siguientes:
                    </div> <br>
                    <div class="row">
                        <div class="col-25"><img src="http://meew.co/images/Torta1.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta2.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta3.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta4.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta5.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta6.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta7.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta8.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta1.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta2.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta3.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta4.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta5.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta6.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta7.svg" style="width: 100%"></div>
                        <div class="col-25"><img src="http://meew.co/images/Torta8.svg" style="width: 100%"></div>
                    </div>
                </div>
              </div>
              <!-- Tab 2 -->
              <div id="tab2" class="tab">
                <div class="content-block">
                    <div class="row" style="text-align: left; ">
                        Agrega aquí todos los videos que tengas acerca del tu negocio, por ejemplo, si eres una empresa de eventos podrías algunos de tus clientes más reconocidos.
                    </div> <br>
                    <div class="row">
                        A Taste of St Patricks Day in New York City 
                        <iframe style="width: 100%;height:250px" src="https://www.youtube.com/embed/j5pej1Zcb8A" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <hr>
                    <div class="row">
                        S & G | Manhattan Wedding, New York Wedding, NYC, Tribeca Rooftop, Plaza Hotel Weddings 
                        <iframe style="width: 100%;height:250px" src="https://www.youtube.com/embed/CD-VVBVxZ2E" frameborder="0" allowfullscreen></iframe>
                    </div>
                        <hr>
                    <div class="row">
                       Bar / Bat Mitzvah MC & Entertainment Service | Westport, CT
                        <iframe style="width: 100%;height:250px" src="https://www.youtube.com/embed/KPwDkzsOzyQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
              
            </div>
        </div>