 <div class="page-content">
            <img src="images/information/imagen2.svg" alt="Que es meew" style="width: 100%; padding-top: 25px">
            <div class="content-block-info">
                <div class="row" style="text-align: left; ">
                    Meew es una plataforma creada para apoyar a los emprendedores y empresarios que quieran incursionar en el mundo virtual.
                    <p>Actualmente el número de usuarios de dispositivos móviles va en aumento, por esta razón es imprescindible tener una aplicación móvil para su negocio.</p>
                </div> 
                <div class="row" style="text-align: left">
                    <p>Una aplicación móvil tiene un costo elevado en el mercado debido a su gran complejidad y a que es necesario desarrollarla tanto para Android como para iOS (iPhone), por esta razón no es fácil adquirir una.</p>
                </div>
            </div>  
            <img src="images/information/imageInfo.svg" alt="Que es meew" style="width: 100%"><br>
            <div class="content-block-info">
                <div class="row" style="text-align: left">   
                    
                    Usted podrá tener su propia aplicación móvil, accediendo a nuestros planes mensuales y anuales de arrendamiento, así pagará una cifra razonable y tendrá la aplicación para su negocio personalizada y lista para ser usada por sus clientes.
                </div>
                <div class="row box-wrapper-iiid"> 
                    <div class="link-prodsii">   
                        <ul >
                            <li><a href="#"  >Conozca nuestros planes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>