<div class="page-content-serv">
            <div class="content-block-clserv">
                <div class="row" style="text-align: left;  padding-top: 50px;margin:0px 30px; color: #155067;text-decoration: underline;">
                    <h3>Tengo otro problema que no se menciona en la lista</h3>
                </div>
                <div class="row" style="text-align: left; border-bottom: 2px solid #C7CD4D">   
                    <p></p>
                </div>
                <form id="fomr-serv">
                    <div class="list-blocki">
                        <ul>
                          <!-- Text inputs -->
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                      <div class="item-input">
                                          <textarea name="inconvnolistserv" style="padding:10px 10px;border-bottom: 1px solid #C7CD4D;height: 100px;font-size: 14px" placeholder="Escribe aquí tu problema"></textarea>
                                      </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>  
            
        </div>