<div class="page-content">
            <div class="content-block-tabs">
              <!-- Buttons row as tabs controller -->
              <div class="buttons-row">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active button">Imagenes</a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link button">Videos</a>
              </div>
            </div>
            <!-- Tabs, tabs wrapper -->
            <div class="tabs">
              <!-- Tab 1, active by default -->
              <div id="tab1" class="tab active">
                <div class="content-block">
                    <div class="row textogallery" style="text-align: left;">

                     </div> <br>
                    <div class="row imagesgallery" >
                        
                    </div>
                </div>
              </div>
              <!-- Tab 2 -->
              <div id="tab2" class="tab">
                <div class="content-block videosgallery">
                    
                </div>
              </div>
              
            </div>
        </div>