<div class="page-content-serv">
              <div class="list-block">
                  <div style="padding: 10px 10px" >
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066; padding:20px 0px">
                                <div><strong>MARK 500</strong></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Con tu presupuesto posicionaremos tanto en Google como en Facebook tu aplicación móvil. El nivel de penetración y de descargas será de un 50%</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 500.000</p1>
                                </div>

                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066; padding:20px 0px">
                                <div><strong>MARK 300</strong></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Con tu presupuesto posicionaremos tanto en Google como en Facebook tu aplicación móvil. El nivel de penetración y de descargas será de un 35%</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 300.000</p1>
                                </div>

                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066; padding:20px 0px">
                                <div><strong>MARK 100</strong></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Con tu presupuesto posicionaremos tanto en Google como en Facebook tu aplicación móvil. El nivel de penetración y de descargas será de un 15%</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 100.000</p1>
                                </div>
                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                  </div>
              </div>
            </div>