<div class="page-content-serv">
            <div class="content-block-clserv">
                <div class="row" style="text-align: left;  padding-top: 50px; padding-left: 10px; color: #155067;text-decoration: underline;">
                    <h3 >¿En qué podemos ayudarte?</h3>
                </div>
                <div class="row" style="text-align: left; border-bottom: 2px solid #C7CD4D">   
                    <p></p>
                </div>
                <div class="row item-cl-srv" >   
                    <div ><a href="cliserv/_clservprodserv.html">Me gustaría conocer más sobre un producto o servicio.</a></div>
                </div>
                <div class="row item-cl-srv">   
                    <div><a href="cliserv/_clservprodrecom.html">Quisiera hacer una recomendación.</a></div>
                </div>
                <div class="row item-cl-srv">   
                    <div ><a href="cliserv/_clservprodinconv.html">Tengo un inconveniete con un producto o servicio.</a></div>
                </div>
                <div class="row item-cl-srv">   
                    <div><a href="cliserv/_clservprodinconvapp.html">Tengo un inconveniente con la aplicación.</a></div>
                </div>
                <div class="row item-cl-srv">   
                    <div ><a href="cliserv/_clservprodinconvpago.html">Tengo un inconveniente con el pago.</a></div>
                </div>
                <div class="row item-cl-srv">   
                    <div><a href="cliserv/_clservprodinconvnolist.html">Tengo otro inconveniente que no se menciona en la lista.</a></div>
                </div>
                
            </div>  
            
        </div>
