<div class="page-content" >
              <div class="content-block-ini">
                <ul class="social_share">
                <li>
                    <a href="#" class="tabbar-label-products">
                        <i><img src="images/products/Perfil.svg" class="initial-icon" alt="" title="" /></i><br>LOGIN
                    </a>
                </li>
                <li>
                    <a href="products.html" class="tabbar-label-products">
                        <i><img src="images/products/Tienda.svg" class="initial-icon" alt="" title="" /></i><br>TIENDA
                    </a>
                </li>
                <li>
                    <a href="informacion.html" class="tabbar-label-products">
                        <i><img src="images/products/Informacion.svg" class="initial-icon" alt="" title="" /></i><br>INFORMACIÓN
                    </a>
                </li>
                <li>
                    <a href="viral.html" class="tabbar-label-products">
                        <i><img src="images/products/Viral.svg" class="initial-icon" alt="" title="" /></i><br>VIRAL
                    </a>
                </li>
                <li>
                    <a href="multimedia.html" class="tabbar-label-products">
                        <i><img src="images/products/Multimedia.svg" class="initial-icon" alt="" title="" /></i><br>MULTIMEDIA
                    </a>
                </li>
                <li>
                    <a href="contacto.html" class="tabbar-label-products">
                        <i><img src="images/products/Contacto.svg" class="initial-icon" alt="" title="" /></i><br>CONTACTO
                    </a>
                </li>
                <li>
                    <a href="clientservice.html" class="tabbar-label-products">
                        <i><img src="images/products/Soporte.svg" class="initial-icon" alt="" title="" /></i><br>SOPORTE
                    </a>
                </li>
                <li>
                    <a href="publ.html" class="tabbar-label-products">
                        <i><img src="images/products/Publicidadi.svg" class="initial-icon" alt="" title="" /></i><br>PUBLICIDAD
                    </a>
                </li>
                <li>
                    <a href="marketing.html" class="tabbar-label-products">
                        <i><img src="images/products/Marketing.svg" class="initial-icon" alt="" title="" /></i><br>MARKETING
                    </a>
                </li>
                </ul>
              </div>
            </div>
			