<div class="page-content" style="margin: 0px 50px 0px 50px">
            <div class="content-block">
                <div class="row" style="text-align: left;  padding-top: 20px; color: #fff;">
                    Selecciona la red social por la cual quieres compartir este contenido.
                </div>
                <div class="row" style="text-align: left; padding-top: 50px; padding-left: 10px; color: #155067;">
                    <div class="col-30perc"><img src="images/viral/Facebook.fw.svg" style="width: 100%"></div>
                    <div class="col-30perc"><img src="images/viral/Instagram.fw.svg" style="width: 100%"></div>
                    <div class="col-30perc"><img src="images/viral/Twitter.fw.svg" style="width: 100%"></div>
                </div>
            </div> 
            <div class="row box-wrapper-iiid" style="padding-bottom: 0px; margin-bottom: 0px; align-items: baseline"> 
                <div class="link-prodsii">   
                    <ul style="margin:0px 60px;">
                        <li><a href="#">CERRAR</a></li>
                    </ul>
                </div>
            </div>
        </div>