<div class="page-content-serv">
              <div class="list-block">
                  <div style="padding: 10px 10px" >
                        <div class="row">
                            <div class="col-50" style="text-align: center">
                                <img src="images/planes/sin_ataduras.svg">
                                <div class="row" style="background-color: #BBCD4A; padding: 5px 5px; color: #fff;  ">
                                    <div style="font-size: 22px; width: 100%; text-align: center">Sin Ataduras</div>
                                    <div style="font-size: 14px; width: 100%; text-align: center">desde $90.000 mes</div>
                                </div>
                            </div>
                            <div class="col-50" style="text-align: left;font-size: 14px;color: #065066;padding-top: 30px"><strong>Paga mensualmente tu aplicación sin condiciones ni restricciones</strong></div>
                        </div><br>
                        <div class="row no-gutter">
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">PIONERO<br>$90.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">ESTRATEGA<br>$110.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">EXPERTO<br>$140.000</div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row">
                            <div class="col-50" style="text-align: center">
                                <img src="images/planes/alcancia_express.svg">
                                <div class="row" style="background-color: #BBCD4A; padding: 5px 5px; color: #fff;  ">
                                    <div style="font-size: 19px; width: 100%; text-align: center">Alcancía Express</div>
                                    <div style="font-size: 14px; width: 100%; text-align: center">desde $70.000 mes</div>
                                </div>
                            </div>
                            <div class="col-50" style="text-align: left;font-size: 14px;color: #065066;padding-top: 30px"><strong>Paga mensualmente y en muy poco tiempo la aplicación será tuya.</strong></div>
                        </div><br>
                        <div class="row no-gutter">
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">PIONERO<br>$70.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">ESTRATEGA<br>$90.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">EXPERTO<br>$120.000</div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row">
                            <div class="col-50" style="text-align: center">
                                <img src="images/planes/alcancia.svg">
                                <div class="row" style="background-color: #BBCD4A; padding: 5px 5px; color: #fff;  ">
                                    <div style="font-size: 22px; width: 100%; text-align: center">Alcancía</div>
                                    <div style="font-size: 14px; width: 100%; text-align: center">desde $70.000 mes</div>
                                </div>
                            </div>
                            <div class="col-50" style="text-align: left;font-size: 14px;color: #065066;padding-top: 30px"><strong>Paga mensualmente y en un tiempo la aplicación será tuya.</strong></div>
                        </div><br>
                        <div class="row no-gutter">
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">PIONERO<br>$50.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">ESTRATEGA<br>$70.000</div> |
                            <div class="col-30 " style="text-align: center;font-size: 14px;color: #065066;">EXPERTO<br>$100.000</div>
                        </div>
                  </div>
              </div>
            </div>