<div class="page-content-serv">
            <div class="content-block-clserv">
                <div class="row" style="text-align: left;  padding-top: 50px; margin:0px 30px; color: #155067;text-decoration: underline;">
                    <h3>Me gustaría conocer más acerca de un producto o servicio</h3>
                </div>
                <div class="row" style="text-align: left; border-bottom: 2px solid #C7CD4D">   
                    <p></p>
                </div>
                <div class="row item-cl-srv">   
                    <div >Producto o servicio</div>
                </div>
                <form id="fomr-serv">
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod1" value="1" >Módulo de Perfil y Login</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod2" value="2">Módulo de Productos y Servicios</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod3" value="3">Módulo de Información</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod4" value="4">Módulo Viral</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod5" value="5">Módulo Multimedia</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod6" value="6">Módulo Contacto</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod7" value="7">Módulo Servicio al Cliente</label></div>
                    </div>
                   <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod8" value="8">Módulo Publicitario</label></div>
                    </div>
                    <div class="radio item-cl-form">
                        <div><label><input type="radio" name="prodserv" id="prod9" value="9">Módulo Marketing</label></div>
                    </div>
                    <div class="list-blocki">
                        <ul>
                          <!-- Text inputs -->
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                      <div class="item-input">
                                          <textarea name="saberpordserv" style="padding:10px 10px;height: 100px;border-bottom: 1px solid #C7CD4D;font-size: 14px" placeholder="Escribe aquí qué más te gustaría saber"></textarea>
                                      </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>  
            
        </div>
