<div class="page-content-serv">
              <div class="list-block">
                  <div style="padding: 10px 10px" >
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066; padding:20px 0px">
                                <div><strong>PUSH 30</strong><br>
                                <div style="font-size:14px">30 mensajes mensuales</div></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Podrás enviar 30 mensajes push a todos los que tengan instalada la aplicación. <span style="text-decoration:underline">Si decides comprar 1 año de</span> <p1 style="color:#C7CD4D">ESTRATEGIA PUSH 30</p1>, te obsequiaremos 15 mensajes mensuales</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 30.000</p1>
                                </div>

                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066;padding:20px 0px">
                                <div><strong>PUSH 20</strong><br>
                                <div style="font-size:14px">20 mensajes mensuales</div></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Podrás enviar 20 mensajes push a todos los que tengan instalada la aplicación. <span style="text-decoration:underline">Si decides comprar 1 año de</span> <p1 style="color:#C7CD4D">ESTRATEGIA PUSH 20</p1>, te obsequiaremos 10 mensajes mensuales</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 20.000</p1>
                                </div>

                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                        <div class="row" style="align-items: center">
                            <div class="col-30" style="text-align: center; vertical-align: middle;align-items: center;color:#fff;background-color:#065066;padding:20px 0px">
                                <div><strong>PUSH 10</strong><br>
                                <div style="font-size:14px">10 mensajes mensuales</div></div>
                            </div>
                            <div class="col-40" style="text-align: justify;font-size: 10px;color: #065066;">
                                <strong>Podrás enviar 10 mensajes push a todos los que tengan instalada la aplicación. <span style="text-decoration:underline">Si decides comprar 1 año de</span> <p1 style="color:#C7CD4D">ESTRATEGIA PUSH 10</p1>, te obsequiaremos 5 mensajes mensuales</strong>
                            </div>                       
                            <div class="col-30" style="text-align: left;font-size: 14px;color: #065066;">
                                <div class="row" >
                                    <p1 style="color:#C7CD4D">$ 10.000</p1>
                                </div>

                                <div class="row"  >
                                   <img src="images/Tienda.fw.png" class="initial-icon" alt="" title="" />
                                </div>
                                <div class="row" >
                                   COMPRAR
                                </div>
                            </div>
                        </div><br>
                        <div style="border-bottom: 1px solid #BBCD4A"></div><br>
                  </div>
              </div>
            </div>