
        <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 "><img src="images/products/Perfil.svg" class="box-wrapper-id"   alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                <strong>Módulo LOGIN</strong>
                <p>Tus clientes podrán registrarse y acceder por medio de su correo electrónico, facebook y google.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>  
          <hr>
          <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Tienda.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                <strong>Módulo Productos y/o Servicios</strong>
                <p>Mostrar tus proudctos y/o servicios de manera visual y llamativa es parte importante del marketing para tu negocio</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al Módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>    
          <hr>
          <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Informacion.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Información
                <p>Es importante contar los orígenes de la marca y la visión que tiene el negocio, así generarás mayor confianza .</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div> 
             <hr>
          <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Soporte.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Servicio al Cliente
                <p>La comunicación con tus clientes debe ser una prioridad para tí, así garantizarás que estén completamente satisfechos.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div> 
             <hr>
             <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Multimedia.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Multimedia
                <p>Las imágenes y videos tienen un mayor impacto a la hora de comprar un produco o servicio. Utiliza esta herramienta para mejorar tus ventas.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ver en vivo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Contacto.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Contacto
                <p>Si un posible cliente instala tu aplicación móvil, necesitarás de este módulo para que se comunique con tigo fácilmente y de esta manera no perderás una posble venta.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div> 
        <hr>
        <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Viral.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Viral
                <p>Tus clientes podrán compartir el contenido que les parezca relevante de tu aplicación.  Recuerda que esto es importante para darte a conocer rápidamente.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ver en vivo</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        <hr>
        <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Publicidadi.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Publicidad
                <p>Podrás enviar mensajes directos a tus clientes ofreciendoles una promoción o informándoles acerca de un nuevo producto o servicio.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Each "cell" has col-[widht in percents] class -->
            <div class="col-50 box-wrapper-id"><img src="images/products/Marketing.svg" class="box-wrapper-id" alt="" title="" /></div>
            <div class="col-50 box-wrapper-iid"> 
                Módulo Marketing
                <p>Difundiremos tu aplicación y haremos que consigas nuevos clientes, posicionándola en las tiendas móviles: App Store y Play Store.</p>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Ir al módulo</a></li>
                    </ul>
                </div><br>
                <div class="link-prods">   
                    <ul class="a-prods">
                        <li><a href="#"  >Comprar</a></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
