<div class="page-content-serv">
            <div class="content-block-clserv">
                <div class="row" style="text-align: left;  padding-top: 30px; padding-left: 10px;margin: 0px 20px; color: #155067;">
                    <h3 >Escribenos a continuaci贸n y responderemos en menos de 24 horas</h3>
                </div>
                <div class="row" style="text-align: left; border-bottom: 2px solid #C7CD4D">  </div>
                    
                <div class="list-block-contact">
<h4 style="color:#145066" class="nombre"></h4>
                    <form id="fomr-serv">
                        <div class="item-title label" style="color:#145066">Correo electr贸nico</div>
                        <div class="input-login" >
                            <input name="email" placeholder="Tu correo electr贸nico" type="text"  >
                        </div><br>
                        <div class="item-title label" style="color:#145066">Asunto</div>
                        <div class="input-login" >
                            <input name="email" placeholder="Escribe tu asunto" type="text"  >
                        </div><br>
                        <div class="item-title label" style="color:#145066">Mensaje</div>
                        <div class="input-login">
                            <textarea name="message" style="height:100px;"></textarea>
                        </div>
                        <div class="row box-wrapper-iiid" style="padding-bottom: 0px; margin-bottom: 0px; align-items: baseline"> 
                            <div class="link-prodsii">   
                                <ul style="margin:0px 60px;">
                                    <li><a href="#">ENVIAR</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row item-cl-srv">   
                    <div><a href="cliserv/_clservprodrecom.html"><h3>Esta es nuestra ubicaci贸n actual</h3></a></div>
                </div>
                <div id="map-canvas" style=" height: 300px; margin:0px 20px 0px 20px;">Mapa</div><br>
                <div  style="border-left: 2px solid #C6CD4D;margin:0px 20px 0px 20px; color:#145066">  
                    <div class="row ">
                        <div class="col-10" style="margin-left:5px">Address:</div><div id="address" class="col-80"></div>
                    </div>
                    <div class="row ">
                        <div class="col-10" style="margin-left:5px">Email:</div><div id="address" class="col-80">email@yourwebsite.com</div>
                    </div>
                    <div class="row ">
                        <div class="col-10" style="margin-left:5px">Mobile:</div><div id="address" class="col-80">+900 456 567 77</div>
                    </div>
                </div>
            </div>  
        </div>